#col1 {
    margin: 1vh;
    background-color: blue;
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
}

#col2 {
    margin: 1vh;
    background-color: green;
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
}

#outerDIv {
    background-image: url('https://cdn.mos.cms.futurecdn.net/vChK6pTy3vN3KbYZ7UU7k3-1200-80.jpg');
}